@media (min-width: 1100px) {
  body {
    max-width: 1500px;
  }

  /*HEADER*/

  header {
    background: rgba(219, 234, 232, 0.7);
    width: 900px;
    height: 110px;
    margin: 40px auto;
    box-shadow: 1px 2px 5px #000, 0 0 5px #00ffff;
  }

  header label {
    display: none;
  }
  .icon1 {
    display: none;
  }

  nav ul {
    transform: translate(0, 0);
  }

  nav li a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  a:hover h2 {
    opacity: 1;
  }

  a:hover .icon {
    opacity: 0;
  }

  .icon {
    transform: translate(6rem, 1rem);
  }

  h2 {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.9rem;
    text-transform: capitalize;
    color: #fff;
    text-shadow: 0 2px 6px #000;
    text-decoration-color: black;
    transform: translate(1.5rem, -1.8rem);
    letter-spacing: 1.5 px;
    opacity: 0;
    transition: 1s ease all;
    transition-delay: 0.3s;
  }
  .edi {
    transform: translate(3.5rem, -1.8rem);
  }

  /*BOX SECTION*/

  section.caja {
    justify-content: space-evenly;
  }

  div.caja1 {
    width: 19rem;
    max-width: 302px;
    height: 24.5rem;
    max-height: 390px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.6);
    transition: 1s ease all;
  }

  div.caja1:hover .jose {
    opacity: 0.5;
    transform: translate(0, 100%);
  }

  div.caja1:hover {
    box-shadow: inset 0 0 10px #000;
  }
  h3 {
    opacity: 1;
  }
  div.caja1:hover h3 {
    opacity: 1;
    transform: translate(0, -20rem);
    text-shadow: 0 2px 6px #000;
  }

  div.caja2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 56vw;
    max-width: 600px;
    height: 56vh;
    max-height: 390px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    transition: 0.8s;
  }

  div.caja2:hover {
    box-shadow: inset 0 0 5px #000;
  }

  h1 {
    padding: 40px;
    transform: translate(0, 8rem);
    transition: 2s;
    transition-delay: 0.6s;
  }

  div.caja2:hover > h1 {
    transform: translate(0, 0);
  }

  p {
    padding: 30px;
    letter-spacing: 1px;
  }

  div.caja2:hover > p {
    opacity: 1;
  }

  /*ASIDE*/

  aside.porcentajes {
    display: flex;
    width: 100%;
  }

  div.invicible {
    width: 19rem;
    margin: 25px auto;
  }

  div.degradado {
    max-width: 600px;
    box-shadow: 0 0 10px #000;
  }

  div.card {
    width: 11rem;
    height: 13rem;
    margin: 10px;
    top: 2.5%;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    transition-delay: 0.6s;
  }
  @keyframes bajar {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 0%);
    }
  }

  div.card:hover {
    transform: translate(0, -0.6rem);
    box-shadow: 0 65px 25px #424242;
  }

  div.card:hover svg {
    box-shadow: inset 0 0 5px #fff;
  }

  h4 {
    opacity: 0;
    transition: 1s;
    transition-delay: 0.3s;
  }
  @keyframes letra {
  }

  div.card:hover h4 {
    transform: translate(0, -5.1rem);
    font-size: 2.3rem;
    opacity: 1;
    color: #fff;
    text-shadow: 10px 3px 10px #000;
  }
  div.card:hover h6 {
    opacity: 0;
  }

  div.card:hover:nth-child(1) svg circle:nth-child(1) {
    stroke: #000fff;
    stroke-width: 10;
  }

  div.card:hover:nth-child(2) svg circle:nth-child(1) {
    stroke: #ff8000;
    stroke-width: 10;
  }

  div.card:hover:nth-child(3) svg circle:nth-child(1) {
    stroke: #b2aaa2;
    stroke-width: 10;
  }

  div.card:hover:nth-child(4) svg circle:nth-child(1) {
    stroke: #d36a01;
    stroke-width: 10;
  }

  div.card:hover:nth-child(5) svg circle:nth-child(1) {
    stroke: #0080ff;
    stroke-width: 10;
  }

  div.card:hover:nth-child(6) svg circle:nth-child(1) {
    stroke: #d70909;
    opacity: 0.5;
    stroke-width: 10;
  }
  footer {
    margin-top: 0;
  }
}
