@media (min-width: 768px) {
  .icon1 {
    left: 95%;
  }

  section.caja {
    flex-direction: row;
  }

  div.caja2 {
    width: 50vw;
  }

  div.degradado {
    width: 80vw;
    transform: translate(15%, 25%);
  }

  footer {
    border: 1px solid #000;
    position: relative;
    margin-top: 21%;
  }
}
