@media (min-width: 768px) {
  .icon1 {
    left: 96%;
  }

  section.caja {
    flex-direction: row;
  }

  div.caja2 {
    width: 50vw;
  }

  div.degradado {
    margin: 25px auto;
    flex: 100;
    width: 35rem;
  }

  footer {
    box-shadow: 0 0 3px #000;
    position: relative;
    margin-top: 21%;
  }
}
