* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: linear-gradient(170deg, #dbeae8, #0101, #959797, #0101, #dbeae8);
  background-repeat: no-repeat;
}

/*HEADER*/

header {
  width: 100vw;
}

header label {
  display: flex;
  width: 100%;
  height: 2.5rem;
  padding: 5px;
}

label {
  border: 1px solid rgba(219, 234, 232);
}

#check {
  display: none;
}

.icon1 {
  position: relative;
  width: 1.8rem;
  left: 92%;
}

nav ul {
  list-style: none;
  display: flex;
  transform: translate(-100%);
  transition: 1s ease all;
}

#check:checked ~ nav ul {
  transform: translate(0);
}

nav li {
  width: 100%;
  flex-grow: 1;
}

nav li a {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 20px;
  text-decoration: none;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 15%;
  padding: 8px;
  transform: translate(0, 0.9rem);
  background: rgba(245, 246, 246, 0.5);
  box-shadow: 0 0 5px #fff, 0 0 5px #1416;
  transition: 1s ease all;
  transition-delay: 0.3s;
  opacity: 1;
}

.uno {
  border: 1px solid #ff0000;
  box-shadow: 0 0 6px #ff0000;
}

.dos {
  border: 1px solid #11ba0f;
  box-shadow: 0 0 6px #4dff00;
}

.tres {
  border: 1px solid #0027ff;
  box-shadow: 0 0 6px #0027ff;
}

h2 {
  display: none;
  font-size: 1rem;
  padding: 5px;
  transition: 1s ease all;
}

/*BOX SECTION*/

section.caja {
  display: flex;
  flex-direction: column;
}

div.caja1 {
  width: 17rem;
  height: 22rem;
  margin: 15px auto;
  overflow: hidden;
  border: 1px solid #000;
}

.jose {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
  animation: foto 5s ease-in-out;
  transition: 5s ease all;
}

@keyframes foto {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes photo {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

h3 {
  font-size: 1.3em;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
  font-size: 1.5rem;
  opacity: 1;
  color: #ccc;
  text-align: center;
  line-height: 3rem;
  text-shadow: 0 1px 3px #000;
  transform: translate();
  transition: 2s;
  transition-delay: 1s;
}

div.caja2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
  margin: 15px auto;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

div.box2:hover {
  transform: translate(0, 0);
}

h1 {
  transform: translate(0, 140px);
}

p {
  font-size: 0.8rem;
  text-align: center;
  font-family: Arial Narrow Bold, sans-serif, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
  opacity: 0;
  transition: 3s ease all;
}

/*ASIDE*/

/* aside.porcentajes {
  display: flex;
} */

div.degradado {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 0 3px #000;
}

div.card {
  width: 10rem;
  height: 10rem;
  display: flex;
  margin: 10px;
  background: linear-gradient(0deg #1b1b1b, #222, #1b1b1b);
  overflow: hidden;
  animation: bajar 4s infinite;
}

@keyframes bajar {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -5%);
    box-shadow: 0 0 10px #000;
  }
  100% {
    transform: translate(0, 0%);
  }
}

div.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 0, 1rem solid #000;
}
div.number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h4 {
  opacity: 0;
  transform: translate(0, -60px);
}

h6 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  transition: 1s ease all;
}
svg {
  width: 6.3rem;
  height: 6.3rem;
  border-radius: 50%;
  border: 1px solid #000;
  box-shadow: inset 0 0 45px #000, inset 0 0 45px #000;
  transition: 1s;
}

svg circle {
  width: 6.3rem;
  height: 6.3rem;
  fill: none;
  stroke: #000;
  stroke-width: 10;
  stroke-linecap: round;
}

div.card:nth-child(1) svg circle:nth-child(1) {
  stroke-dasharray: calc(300 - (300 * 30) / 100);
  stroke-width: 0;
  transition: 1s;
}

div.card:nth-child(2) svg circle:nth-child(1) {
  stroke-dasharray: calc(300 - (300 * 40) / 100);
  stroke-width: 0;
  transition: 1s;
}

div.card:nth-child(3) svg circle:nth-child(1) {
  stroke-dasharray: calc(440 - (440 * 80) / 120);
  stroke-width: 0;
  transition: 1s;
}

div.card:nth-child(4) svg circle:nth-child(1) {
  stroke-dasharray: calc(300 - (300 * 30) / 100);
  stroke-width: 0;
  transition: 1s;
}

div.card:nth-child(5) svg circle:nth-child(1) {
  stroke-dasharray: calc(300 - (300 * 45) / 100);
  stroke-width: 0;
  transition: 1s;
}

div.card:nth-child(6) svg circle:nth-child(1) {
  stroke-dasharray: calc(100 - (100 * 1) / 1);
  stroke-width: 0;
  transition: 1s;
}

/*FOOTER*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
}
small {
  font-family: sans-serif;
  text-transform: capitalize;
  font-weight: bold;
}

.down {
  width: 1.5rem;
}
