body {
  background: linear-gradient(to top, #777, rgba(255, 255, 255, 0.1), #777);
  box-sizing: border-box;
}

div.contenedor {
  display: flex;
  flex-direction: column;
  width: 95vw;
  height: 90vh;
  padding: 2% 2%;
}

div.box {
  flex: 1;
  overflow: hidden;
  margin: 9px;
  box-shadow: 0 0 10px #424242;
  line-height: 0;
  transition: 2s;
  transition-delay: 0.3s;
}

div.box img {
  width: 100%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: 0.3s;
  transition-delay: 0.3s;
}

div.box span {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 1.8;
  color: rgb(201, 200, 178);
  text-shadow: 0 0 2.5px #000;
  transition: 1.9s;
}

/*footer*/

footer {
  display: flex;
  justify-content: center;
  padding: 0.8rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

img.regreso {
  width: 2.3rem;
  border-radius: 15%;
  padding: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

/*responsive*/

@media (min-width: 1100px) {
  div.contenedor {
    width: 90vw;
    flex-direction: row;
  }
  div.box:hover {
    flex: 95%;
    box-shadow: 0 0 0;
  }

  div.box:hover img#uno {
    width: 30vw;
    transform: translate(27rem);
    box-shadow: 0 0 10px #000;
  }

  div.box:hover img#dos {
    width: 33vw;
    transform: translate(26rem);
    box-shadow: 0 0 10px #000;
  }
  div.box:hover img#tres {
    width: 38vw;
    height: 80vh;
    transform: translate(22rem);
    box-shadow: 0 0 10px #1416;
  }
  div.box:hover img#cuatro {
    width: 32vw;
    transform: translate(23rem);
    box-shadow: 0 0 10px #000;
  }

  div.box:hover img#cinco {
    width: 30vw;
    height: auto;
    transform: translate(23rem);
    box-shadow: 0 0 10px #000;
  }

  div.box:hover span {
    opacity: 0;
  }
}
